<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youyoubo.wx.user.mapper.WX_USER_INFOMapper" >
	 
	<!--用户基本信息通用查询条件 -->
	<sql id="WX_USER_INFO_WHERE">
		<where>
			<if test="ID != null and ID != ''">
				AND T.ID = #{ID}
			</if>
			<if test="ID_LIKE != null and ID_LIKE != ''">
				AND T.ID LIKE concat(concat('%',#{ID_LIKE}),'%')
			</if>
			<if test="ID_LLIKE != null and ID_LLIKE != ''">
				AND T.ID LIKE concat('%',#{ID_LIKE})
			</if>
			<if test="ID_RLIKE != null and ID_RLIKE != ''">
				AND T.ID LIKE concat(#{ID_RIKE},'%')
			</if>
				
			<if test="OPENID != null and OPENID != ''">
				AND T.OPENID = #{OPENID}
			</if>
			<if test="OPENID_LIKE != null and OPENID_LIKE != ''">
				AND T.OPENID LIKE concat(concat('%',#{OPENID_LIKE}),'%')
			</if>
			<if test="OPENID_LLIKE != null and OPENID_LLIKE != ''">
				AND T.OPENID LIKE concat('%',#{OPENID_LIKE})
			</if>
			<if test="OPENID_RLIKE != null and OPENID_RLIKE != ''">
				AND T.OPENID LIKE concat(#{OPENID_RIKE},'%')
			</if>
				
			<if test="NICKNAME != null and NICKNAME != ''">
				AND T.NICKNAME = #{NICKNAME}
			</if>
			<if test="NICKNAME_LIKE != null and NICKNAME_LIKE != ''">
				AND T.NICKNAME LIKE concat(concat('%',#{NICKNAME_LIKE}),'%')
			</if>
			<if test="NICKNAME_LLIKE != null and NICKNAME_LLIKE != ''">
				AND T.NICKNAME LIKE concat('%',#{NICKNAME_LIKE})
			</if>
			<if test="NICKNAME_RLIKE != null and NICKNAME_RLIKE != ''">
				AND T.NICKNAME LIKE concat(#{NICKNAME_RIKE},'%')
			</if>
				
			<if test="SEX != null and SEX != ''">
				AND T.SEX = #{SEX}
			</if>
			<if test="SEX_LIKE != null and SEX_LIKE != ''">
				AND T.SEX LIKE concat(concat('%',#{SEX_LIKE}),'%')
			</if>
			<if test="SEX_LLIKE != null and SEX_LLIKE != ''">
				AND T.SEX LIKE concat('%',#{SEX_LIKE})
			</if>
			<if test="SEX_RLIKE != null and SEX_RLIKE != ''">
				AND T.SEX LIKE concat(#{SEX_RIKE},'%')
			</if>
				
			<if test="LANGUAGE != null and LANGUAGE != ''">
				AND T.LANGUAGE = #{LANGUAGE}
			</if>
			<if test="LANGUAGE_LIKE != null and LANGUAGE_LIKE != ''">
				AND T.LANGUAGE LIKE concat(concat('%',#{LANGUAGE_LIKE}),'%')
			</if>
			<if test="LANGUAGE_LLIKE != null and LANGUAGE_LLIKE != ''">
				AND T.LANGUAGE LIKE concat('%',#{LANGUAGE_LIKE})
			</if>
			<if test="LANGUAGE_RLIKE != null and LANGUAGE_RLIKE != ''">
				AND T.LANGUAGE LIKE concat(#{LANGUAGE_RIKE},'%')
			</if>
				
			<if test="CITY != null and CITY != ''">
				AND T.CITY = #{CITY}
			</if>
			<if test="CITY_LIKE != null and CITY_LIKE != ''">
				AND T.CITY LIKE concat(concat('%',#{CITY_LIKE}),'%')
			</if>
			<if test="CITY_LLIKE != null and CITY_LLIKE != ''">
				AND T.CITY LIKE concat('%',#{CITY_LIKE})
			</if>
			<if test="CITY_RLIKE != null and CITY_RLIKE != ''">
				AND T.CITY LIKE concat(#{CITY_RIKE},'%')
			</if>
				
			<if test="PROVINCE != null and PROVINCE != ''">
				AND T.PROVINCE = #{PROVINCE}
			</if>
			<if test="PROVINCE_LIKE != null and PROVINCE_LIKE != ''">
				AND T.PROVINCE LIKE concat(concat('%',#{PROVINCE_LIKE}),'%')
			</if>
			<if test="PROVINCE_LLIKE != null and PROVINCE_LLIKE != ''">
				AND T.PROVINCE LIKE concat('%',#{PROVINCE_LIKE})
			</if>
			<if test="PROVINCE_RLIKE != null and PROVINCE_RLIKE != ''">
				AND T.PROVINCE LIKE concat(#{PROVINCE_RIKE},'%')
			</if>
				
			<if test="COUNTRY != null and COUNTRY != ''">
				AND T.COUNTRY = #{COUNTRY}
			</if>
			<if test="COUNTRY_LIKE != null and COUNTRY_LIKE != ''">
				AND T.COUNTRY LIKE concat(concat('%',#{COUNTRY_LIKE}),'%')
			</if>
			<if test="COUNTRY_LLIKE != null and COUNTRY_LLIKE != ''">
				AND T.COUNTRY LIKE concat('%',#{COUNTRY_LIKE})
			</if>
			<if test="COUNTRY_RLIKE != null and COUNTRY_RLIKE != ''">
				AND T.COUNTRY LIKE concat(#{COUNTRY_RIKE},'%')
			</if>
				
			<if test="HEADIMGURL != null and HEADIMGURL != ''">
				AND T.HEADIMGURL = #{HEADIMGURL}
			</if>
			<if test="HEADIMGURL_LIKE != null and HEADIMGURL_LIKE != ''">
				AND T.HEADIMGURL LIKE concat(concat('%',#{HEADIMGURL_LIKE}),'%')
			</if>
			<if test="HEADIMGURL_LLIKE != null and HEADIMGURL_LLIKE != ''">
				AND T.HEADIMGURL LIKE concat('%',#{HEADIMGURL_LIKE})
			</if>
			<if test="HEADIMGURL_RLIKE != null and HEADIMGURL_RLIKE != ''">
				AND T.HEADIMGURL LIKE concat(#{HEADIMGURL_RIKE},'%')
			</if>
				
			<if test="SUBSCRIBE_TIME != null and SUBSCRIBE_TIME != ''">
				AND T.SUBSCRIBE_TIME = #{SUBSCRIBE_TIME}
			</if>
			<if test="SUBSCRIBE_TIME_LIKE != null and SUBSCRIBE_TIME_LIKE != ''">
				AND T.SUBSCRIBE_TIME LIKE concat(concat('%',#{SUBSCRIBE_TIME_LIKE}),'%')
			</if>
			<if test="SUBSCRIBE_TIME_LLIKE != null and SUBSCRIBE_TIME_LLIKE != ''">
				AND T.SUBSCRIBE_TIME LIKE concat('%',#{SUBSCRIBE_TIME_LIKE})
			</if>
			<if test="SUBSCRIBE_TIME_RLIKE != null and SUBSCRIBE_TIME_RLIKE != ''">
				AND T.SUBSCRIBE_TIME LIKE concat(#{SUBSCRIBE_TIME_RIKE},'%')
			</if>
				
			<if test="REMARK != null and REMARK != ''">
				AND T.REMARK = #{REMARK}
			</if>
			<if test="REMARK_LIKE != null and REMARK_LIKE != ''">
				AND T.REMARK LIKE concat(concat('%',#{REMARK_LIKE}),'%')
			</if>
			<if test="REMARK_LLIKE != null and REMARK_LLIKE != ''">
				AND T.REMARK LIKE concat('%',#{REMARK_LIKE})
			</if>
			<if test="REMARK_RLIKE != null and REMARK_RLIKE != ''">
				AND T.REMARK LIKE concat(#{REMARK_RIKE},'%')
			</if>
				
			<if test="GROUPID != null and GROUPID != ''">
				AND T.GROUPID = #{GROUPID}
			</if>
			<if test="GROUPID_LIKE != null and GROUPID_LIKE != ''">
				AND T.GROUPID LIKE concat(concat('%',#{GROUPID_LIKE}),'%')
			</if>
			<if test="GROUPID_LLIKE != null and GROUPID_LLIKE != ''">
				AND T.GROUPID LIKE concat('%',#{GROUPID_LIKE})
			</if>
			<if test="GROUPID_RLIKE != null and GROUPID_RLIKE != ''">
				AND T.GROUPID LIKE concat(#{GROUPID_RIKE},'%')
			</if>
				
			<if test="TAGID_LIST != null and TAGID_LIST != ''">
				AND T.TAGID_LIST = #{TAGID_LIST}
			</if>
			<if test="TAGID_LIST_LIKE != null and TAGID_LIST_LIKE != ''">
				AND T.TAGID_LIST LIKE concat(concat('%',#{TAGID_LIST_LIKE}),'%')
			</if>
			<if test="TAGID_LIST_LLIKE != null and TAGID_LIST_LLIKE != ''">
				AND T.TAGID_LIST LIKE concat('%',#{TAGID_LIST_LIKE})
			</if>
			<if test="TAGID_LIST_RLIKE != null and TAGID_LIST_RLIKE != ''">
				AND T.TAGID_LIST LIKE concat(#{TAGID_LIST_RIKE},'%')
			</if>
				
			<if test="SUBSCRIBE_SCENE != null and SUBSCRIBE_SCENE != ''">
				AND T.SUBSCRIBE_SCENE = #{SUBSCRIBE_SCENE}
			</if>
			<if test="SUBSCRIBE_SCENE_LIKE != null and SUBSCRIBE_SCENE_LIKE != ''">
				AND T.SUBSCRIBE_SCENE LIKE concat(concat('%',#{SUBSCRIBE_SCENE_LIKE}),'%')
			</if>
			<if test="SUBSCRIBE_SCENE_LLIKE != null and SUBSCRIBE_SCENE_LLIKE != ''">
				AND T.SUBSCRIBE_SCENE LIKE concat('%',#{SUBSCRIBE_SCENE_LIKE})
			</if>
			<if test="SUBSCRIBE_SCENE_RLIKE != null and SUBSCRIBE_SCENE_RLIKE != ''">
				AND T.SUBSCRIBE_SCENE LIKE concat(#{SUBSCRIBE_SCENE_RIKE},'%')
			</if>
				
			<if test="QR_SCENE != null and QR_SCENE != ''">
				AND T.QR_SCENE = #{QR_SCENE}
			</if>
			<if test="QR_SCENE_LIKE != null and QR_SCENE_LIKE != ''">
				AND T.QR_SCENE LIKE concat(concat('%',#{QR_SCENE_LIKE}),'%')
			</if>
			<if test="QR_SCENE_LLIKE != null and QR_SCENE_LLIKE != ''">
				AND T.QR_SCENE LIKE concat('%',#{QR_SCENE_LIKE})
			</if>
			<if test="QR_SCENE_RLIKE != null and QR_SCENE_RLIKE != ''">
				AND T.QR_SCENE LIKE concat(#{QR_SCENE_RIKE},'%')
			</if>
				
			<if test="QR_SCENE_STR != null and QR_SCENE_STR != ''">
				AND T.QR_SCENE_STR = #{QR_SCENE_STR}
			</if>
			<if test="QR_SCENE_STR_LIKE != null and QR_SCENE_STR_LIKE != ''">
				AND T.QR_SCENE_STR LIKE concat(concat('%',#{QR_SCENE_STR_LIKE}),'%')
			</if>
			<if test="QR_SCENE_STR_LLIKE != null and QR_SCENE_STR_LLIKE != ''">
				AND T.QR_SCENE_STR LIKE concat('%',#{QR_SCENE_STR_LIKE})
			</if>
			<if test="QR_SCENE_STR_RLIKE != null and QR_SCENE_STR_RLIKE != ''">
				AND T.QR_SCENE_STR LIKE concat(#{QR_SCENE_STR_RIKE},'%')
			</if>
				
			<if test="UNIONID != null and UNIONID != ''">
				AND T.UNIONID = #{UNIONID}
			</if>
			<if test="UNIONID_LIKE != null and UNIONID_LIKE != ''">
				AND T.UNIONID LIKE concat(concat('%',#{UNIONID_LIKE}),'%')
			</if>
			<if test="UNIONID_LLIKE != null and UNIONID_LLIKE != ''">
				AND T.UNIONID LIKE concat('%',#{UNIONID_LIKE})
			</if>
			<if test="UNIONID_RLIKE != null and UNIONID_RLIKE != ''">
				AND T.UNIONID LIKE concat(#{UNIONID_RIKE},'%')
			</if>
				
			<if test="GZHID != null and GZHID != ''">
				AND T.GZHID = #{GZHID}
			</if>
			<if test="GZHID_LIKE != null and GZHID_LIKE != ''">
				AND T.GZHID LIKE concat(concat('%',#{GZHID_LIKE}),'%')
			</if>
			<if test="GZHID_LLIKE != null and GZHID_LLIKE != ''">
				AND T.GZHID LIKE concat('%',#{GZHID_LIKE})
			</if>
			<if test="GZHID_RLIKE != null and GZHID_RLIKE != ''">
				AND T.GZHID LIKE concat(#{GZHID_RIKE},'%')
			</if>
				
		</where>
	</sql>
	<!-- 用户基本信息通用查询 -->
    <select id="selectWX_USER_INFO" parameterType="java.util.Map" resultType="java.util.Map" >
     	 SELECT (@rowNum:=@rowNum+1) AS ROWNO,
        (SELECT COUNT(1) FROM WX_USER_INFO T <include refid="WX_USER_INFO_WHERE"/>) AS TOTAL,
        E.* FROM (
        SELECT T.ID,T.OPENID,T.NICKNAME,T.SEX,T.LANGUAGE,
			T.CITY,T.PROVINCE,T.COUNTRY,T.HEADIMGURL,T.SUBSCRIBE_TIME,
			T.REMARK,T.GROUPID,T.TAGID_LIST,T.SUBSCRIBE_SCENE,T.QR_SCENE,
			T.QR_SCENE_STR,T.UNIONID,T.GZHID
         FROM WX_USER_INFO T
        <include refid="WX_USER_INFO_WHERE"/>
         <if test="SORTNAME != null and SORTNAME != ''">
            	 ORDER BY  ${SORTNAME}
            	 <if test="SORTORDER != null and SORTORDER != ''">
            	 	 ${SORTORDER}
            	 </if>
         </if>
         
         <if test="PAGESIZE != null and PAGESIZE != ''">
            	limit ${ROWS},${PAGESIZE}
         </if> 
        
         )E,WX_USER_INFO T
         <if test="PAGESIZE != null and PAGESIZE != ''">
            	,(SELECT(@rowNum :=${ROWS}))TEM_TB
         </if>
         <if test="PAGESIZE == null or PAGESIZE == ''">
            	,(SELECT(@rowNum :=0))TEM_TB
         </if>
        WHERE E.ID=T.ID
    </select>
    
    <!-- 用户基本信息通用查询个数 -->
    <select id="selectWX_USER_INFOCount" parameterType="java.util.Map" resultType="java.lang.Integer" >
     	 SELECT COUNT(1) FROM WX_USER_INFO T <include refid="WX_USER_INFO_WHERE"/>
    </select>
    
    <!-- 用户基本信息保存 -->
    <insert id="insertWX_USER_INFO" parameterType="java.util.Map" >
    	insert into WX_USER_INFO 
    	<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="ID != null and ID != ''">
				  ID ,
			</if>
			<if test="OPENID != null and OPENID != ''">
				  OPENID ,
			</if>
			<if test="NICKNAME != null and NICKNAME != ''">
				  NICKNAME ,
			</if>
			<if test="SEX != null and SEX != ''">
				  SEX ,
			</if>
			<if test="LANGUAGE != null and LANGUAGE != ''">
				  LANGUAGE ,
			</if>
			<if test="CITY != null and CITY != ''">
				  CITY ,
			</if>
			<if test="PROVINCE != null and PROVINCE != ''">
				  PROVINCE ,
			</if>
			<if test="COUNTRY != null and COUNTRY != ''">
				  COUNTRY ,
			</if>
			<if test="HEADIMGURL != null and HEADIMGURL != ''">
				  HEADIMGURL ,
			</if>
			<if test="SUBSCRIBE_TIME != null and SUBSCRIBE_TIME != ''">
				  SUBSCRIBE_TIME ,
			</if>
			<if test="REMARK != null and REMARK != ''">
				  REMARK ,
			</if>
			<if test="GROUPID != null and GROUPID != ''">
				  GROUPID ,
			</if>
			<if test="TAGID_LIST != null and TAGID_LIST != ''">
				  TAGID_LIST ,
			</if>
			<if test="SUBSCRIBE_SCENE != null and SUBSCRIBE_SCENE != ''">
				  SUBSCRIBE_SCENE ,
			</if>
			<if test="QR_SCENE != null and QR_SCENE != ''">
				  QR_SCENE ,
			</if>
			<if test="QR_SCENE_STR != null and QR_SCENE_STR != ''">
				  QR_SCENE_STR ,
			</if>
			<if test="UNIONID != null and UNIONID != ''">
				  UNIONID ,
			</if>
			<if test="GZHID != null and GZHID != ''">
				  GZHID ,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="ID != null and ID != ''">
				 #{ID},  
			</if>
			<if test="OPENID != null and OPENID != ''">
				 #{OPENID},  
			</if>
			<if test="NICKNAME != null and NICKNAME != ''">
				 #{NICKNAME},  
			</if>
			<if test="SEX != null and SEX != ''">
				 #{SEX},  
			</if>
			<if test="LANGUAGE != null and LANGUAGE != ''">
				 #{LANGUAGE},  
			</if>
			<if test="CITY != null and CITY != ''">
				 #{CITY},  
			</if>
			<if test="PROVINCE != null and PROVINCE != ''">
				 #{PROVINCE},  
			</if>
			<if test="COUNTRY != null and COUNTRY != ''">
				 #{COUNTRY},  
			</if>
			<if test="HEADIMGURL != null and HEADIMGURL != ''">
				 #{HEADIMGURL},  
			</if>
			<if test="SUBSCRIBE_TIME != null and SUBSCRIBE_TIME != ''">
				 #{SUBSCRIBE_TIME},  
			</if>
			<if test="REMARK != null and REMARK != ''">
				 #{REMARK},  
			</if>
			<if test="GROUPID != null and GROUPID != ''">
				 #{GROUPID},  
			</if>
			<if test="TAGID_LIST != null and TAGID_LIST != ''">
				 #{TAGID_LIST},  
			</if>
			<if test="SUBSCRIBE_SCENE != null and SUBSCRIBE_SCENE != ''">
				 #{SUBSCRIBE_SCENE},  
			</if>
			<if test="QR_SCENE != null and QR_SCENE != ''">
				 #{QR_SCENE},  
			</if>
			<if test="QR_SCENE_STR != null and QR_SCENE_STR != ''">
				 #{QR_SCENE_STR},  
			</if>
			<if test="UNIONID != null and UNIONID != ''">
				 #{UNIONID},  
			</if>
			<if test="GZHID != null and GZHID != ''">
				 #{GZHID},  
			</if>
		</trim>
    </insert>
    
    <!-- 用户基本信息修改-->
    <update id="updateWX_USER_INFO" parameterType="java.util.Map" >
    	update   WX_USER_INFO 
    	<set>
			<if test="ID_NEW != null and ID_NEW != ''">
				  ID=  #{ID_NEW},
			</if>
			<if test="OPENID_NEW != null and OPENID_NEW != ''">
				  OPENID=  #{OPENID_NEW},
			</if>
			<if test="NICKNAME_NEW != null and NICKNAME_NEW != ''">
				  NICKNAME=  #{NICKNAME_NEW},
			</if>
			<if test="SEX_NEW != null and SEX_NEW != ''">
				  SEX=  #{SEX_NEW},
			</if>
			<if test="LANGUAGE_NEW != null and LANGUAGE_NEW != ''">
				  LANGUAGE=  #{LANGUAGE_NEW},
			</if>
			<if test="CITY_NEW != null and CITY_NEW != ''">
				  CITY=  #{CITY_NEW},
			</if>
			<if test="PROVINCE_NEW != null and PROVINCE_NEW != ''">
				  PROVINCE=  #{PROVINCE_NEW},
			</if>
			<if test="COUNTRY_NEW != null and COUNTRY_NEW != ''">
				  COUNTRY=  #{COUNTRY_NEW},
			</if>
			<if test="HEADIMGURL_NEW != null and HEADIMGURL_NEW != ''">
				  HEADIMGURL=  #{HEADIMGURL_NEW},
			</if>
			<if test="SUBSCRIBE_TIME_NEW != null and SUBSCRIBE_TIME_NEW != ''">
				  SUBSCRIBE_TIME=  #{SUBSCRIBE_TIME_NEW},
			</if>
			<if test="REMARK_NEW != null and REMARK_NEW != ''">
				  REMARK=  #{REMARK_NEW},
			</if>
			<if test="GROUPID_NEW != null and GROUPID_NEW != ''">
				  GROUPID=  #{GROUPID_NEW},
			</if>
			<if test="TAGID_LIST_NEW != null and TAGID_LIST_NEW != ''">
				  TAGID_LIST=  #{TAGID_LIST_NEW},
			</if>
			<if test="SUBSCRIBE_SCENE_NEW != null and SUBSCRIBE_SCENE_NEW != ''">
				  SUBSCRIBE_SCENE=  #{SUBSCRIBE_SCENE_NEW},
			</if>
			<if test="QR_SCENE_NEW != null and QR_SCENE_NEW != ''">
				  QR_SCENE=  #{QR_SCENE_NEW},
			</if>
			<if test="QR_SCENE_STR_NEW != null and QR_SCENE_STR_NEW != ''">
				  QR_SCENE_STR=  #{QR_SCENE_STR_NEW},
			</if>
			<if test="UNIONID_NEW != null and UNIONID_NEW != ''">
				  UNIONID=  #{UNIONID_NEW},
			</if>
			<if test="GZHID_NEW != null and GZHID_NEW != ''">
				  GZHID=  #{GZHID_NEW},
			</if>
		</set>
		<where>
			<if test="ID != null and ID != ''">
				AND ID = #{ID}
			</if>
			<if test="OPENID != null and OPENID != ''">
				AND OPENID = #{OPENID}
			</if>
			<if test="NICKNAME != null and NICKNAME != ''">
				AND NICKNAME = #{NICKNAME}
			</if>
			<if test="SEX != null and SEX != ''">
				AND SEX = #{SEX}
			</if>
			<if test="LANGUAGE != null and LANGUAGE != ''">
				AND LANGUAGE = #{LANGUAGE}
			</if>
			<if test="CITY != null and CITY != ''">
				AND CITY = #{CITY}
			</if>
			<if test="PROVINCE != null and PROVINCE != ''">
				AND PROVINCE = #{PROVINCE}
			</if>
			<if test="COUNTRY != null and COUNTRY != ''">
				AND COUNTRY = #{COUNTRY}
			</if>
			<if test="HEADIMGURL != null and HEADIMGURL != ''">
				AND HEADIMGURL = #{HEADIMGURL}
			</if>
			<if test="SUBSCRIBE_TIME != null and SUBSCRIBE_TIME != ''">
				AND SUBSCRIBE_TIME = #{SUBSCRIBE_TIME}
			</if>
			<if test="REMARK != null and REMARK != ''">
				AND REMARK = #{REMARK}
			</if>
			<if test="GROUPID != null and GROUPID != ''">
				AND GROUPID = #{GROUPID}
			</if>
			<if test="TAGID_LIST != null and TAGID_LIST != ''">
				AND TAGID_LIST = #{TAGID_LIST}
			</if>
			<if test="SUBSCRIBE_SCENE != null and SUBSCRIBE_SCENE != ''">
				AND SUBSCRIBE_SCENE = #{SUBSCRIBE_SCENE}
			</if>
			<if test="QR_SCENE != null and QR_SCENE != ''">
				AND QR_SCENE = #{QR_SCENE}
			</if>
			<if test="QR_SCENE_STR != null and QR_SCENE_STR != ''">
				AND QR_SCENE_STR = #{QR_SCENE_STR}
			</if>
			<if test="UNIONID != null and UNIONID != ''">
				AND UNIONID = #{UNIONID}
			</if>
			<if test="GZHID != null and GZHID != ''">
				AND GZHID = #{GZHID}
			</if>
		</where>
    </update>
    
    <!-- 用户基本信息删除-->
    <delete id="deleteWX_USER_INFO" parameterType="java.util.Map" >
    	delete  from WX_USER_INFO  
    	<where>
			<if test="ID != null and ID != ''">
				AND ID = #{ID}
			</if>
			<if test="OPENID != null and OPENID != ''">
				AND OPENID = #{OPENID}
			</if>
			<if test="NICKNAME != null and NICKNAME != ''">
				AND NICKNAME = #{NICKNAME}
			</if>
			<if test="SEX != null and SEX != ''">
				AND SEX = #{SEX}
			</if>
			<if test="LANGUAGE != null and LANGUAGE != ''">
				AND LANGUAGE = #{LANGUAGE}
			</if>
			<if test="CITY != null and CITY != ''">
				AND CITY = #{CITY}
			</if>
			<if test="PROVINCE != null and PROVINCE != ''">
				AND PROVINCE = #{PROVINCE}
			</if>
			<if test="COUNTRY != null and COUNTRY != ''">
				AND COUNTRY = #{COUNTRY}
			</if>
			<if test="HEADIMGURL != null and HEADIMGURL != ''">
				AND HEADIMGURL = #{HEADIMGURL}
			</if>
			<if test="SUBSCRIBE_TIME != null and SUBSCRIBE_TIME != ''">
				AND SUBSCRIBE_TIME = #{SUBSCRIBE_TIME}
			</if>
			<if test="REMARK != null and REMARK != ''">
				AND REMARK = #{REMARK}
			</if>
			<if test="GROUPID != null and GROUPID != ''">
				AND GROUPID = #{GROUPID}
			</if>
			<if test="TAGID_LIST != null and TAGID_LIST != ''">
				AND TAGID_LIST = #{TAGID_LIST}
			</if>
			<if test="SUBSCRIBE_SCENE != null and SUBSCRIBE_SCENE != ''">
				AND SUBSCRIBE_SCENE = #{SUBSCRIBE_SCENE}
			</if>
			<if test="QR_SCENE != null and QR_SCENE != ''">
				AND QR_SCENE = #{QR_SCENE}
			</if>
			<if test="QR_SCENE_STR != null and QR_SCENE_STR != ''">
				AND QR_SCENE_STR = #{QR_SCENE_STR}
			</if>
			<if test="UNIONID != null and UNIONID != ''">
				AND UNIONID = #{UNIONID}
			</if>
			<if test="GZHID != null and GZHID != ''">
				AND GZHID = #{GZHID}
			</if>
		</where>
    </delete>
    
</mapper>