<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youyoubo.wx.sms.mapper.SMS_CODEMapper" >
	 
	<!--短信验证码通用查询条件 -->
	<sql id="SMS_CODE_WHERE">
		<where>
			<if test="FLAG != null FLAG ID != ''">
				AND  DATE_ADD(T.CREATE_DATE ,INTERVAL T.EXPIRE_COUNT SECOND)&gt;=NOW()
			</if>
			<if test="ID != null and ID != ''">
				AND T.ID = #{ID}
			</if>
			<if test="ID_LIKE != null and ID_LIKE != ''">
				AND T.ID LIKE concat(concat('%',#{ID_LIKE}),'%')
			</if>
			<if test="ID_LLIKE != null and ID_LLIKE != ''">
				AND T.ID LIKE concat('%',#{ID_LIKE})
			</if>
			<if test="ID_RLIKE != null and ID_RLIKE != ''">
				AND T.ID LIKE concat(#{ID_RIKE},'%')
			</if>
				
			<if test="CODE != null and CODE != ''">
				AND T.CODE = #{CODE}
			</if>
			<if test="CODE_LIKE != null and CODE_LIKE != ''">
				AND T.CODE LIKE concat(concat('%',#{CODE_LIKE}),'%')
			</if>
			<if test="CODE_LLIKE != null and CODE_LLIKE != ''">
				AND T.CODE LIKE concat('%',#{CODE_LIKE})
			</if>
			<if test="CODE_RLIKE != null and CODE_RLIKE != ''">
				AND T.CODE LIKE concat(#{CODE_RIKE},'%')
			</if>
				
			<if test="CREATE_DATE != null and CREATE_DATE != ''">
				AND T.CREATE_DATE = STR_TO_DATE(#{CREATE_DATE,'%Y-%m-%d %H:%i:%s')
			</if>
			<if test="CREATE_DATE_MIN != null and CREATE_DATE_MIN != ''">
				AND T.CREATE_DATE &gt;= STR_TO_DATE(#{CREATE_DATE_MIN},'%Y-%m-%d %H:%i:%s')
			</if>
			<if test="CREATE_DATE_MAX != null and CREATE_DATE_MAX != ''">
				AND T.CREATE_DATE &lt;= STR_TO_DATE(#{CREATE_DATE_MAX},'%Y-%m-%d %H:%i:%s')
			</if>
				
			<if test="STATE != null and STATE != ''">
				AND T.STATE = #{STATE}
			</if>
			<if test="STATE_LIKE != null and STATE_LIKE != ''">
				AND T.STATE LIKE concat(concat('%',#{STATE_LIKE}),'%')
			</if>
			<if test="STATE_LLIKE != null and STATE_LLIKE != ''">
				AND T.STATE LIKE concat('%',#{STATE_LIKE})
			</if>
			<if test="STATE_RLIKE != null and STATE_RLIKE != ''">
				AND T.STATE LIKE concat(#{STATE_RIKE},'%')
			</if>
				
			<if test="PHONE != null and PHONE != ''">
				AND T.PHONE = #{PHONE}
			</if>
			<if test="PHONE_LIKE != null and PHONE_LIKE != ''">
				AND T.PHONE LIKE concat(concat('%',#{PHONE_LIKE}),'%')
			</if>
			<if test="PHONE_LLIKE != null and PHONE_LLIKE != ''">
				AND T.PHONE LIKE concat('%',#{PHONE_LIKE})
			</if>
			<if test="PHONE_RLIKE != null and PHONE_RLIKE != ''">
				AND T.PHONE LIKE concat(#{PHONE_RIKE},'%')
			</if>
				
			<if test="EXPIRE_COUNT != null and EXPIRE_COUNT != ''">
				AND T.EXPIRE_COUNT = #{EXPIRE_COUNT}
			</if>
			<if test="EXPIRE_COUNT_LIKE != null and EXPIRE_COUNT_LIKE != ''">
				AND T.EXPIRE_COUNT LIKE concat(concat('%',#{EXPIRE_COUNT_LIKE}),'%')
			</if>
			<if test="EXPIRE_COUNT_LLIKE != null and EXPIRE_COUNT_LLIKE != ''">
				AND T.EXPIRE_COUNT LIKE concat('%',#{EXPIRE_COUNT_LIKE})
			</if>
			<if test="EXPIRE_COUNT_RLIKE != null and EXPIRE_COUNT_RLIKE != ''">
				AND T.EXPIRE_COUNT LIKE concat(#{EXPIRE_COUNT_RIKE},'%')
			</if>
				
		</where>
	</sql>
	<!-- 短信验证码通用查询 -->
    <select id="selectSMS_CODE" parameterType="java.util.Map" resultType="java.util.Map" >
     	 SELECT (@rowNum:=@rowNum+1) AS ROWNO,
        (SELECT COUNT(1) FROM SMS_CODE T <include refid="SMS_CODE_WHERE"/>) AS TOTAL,
        E.* FROM (
        SELECT T.ID,T.CODE,
        DATE_FORMAT(T.CREATE_DATE,'%Y-%m-%d %H:%i:%s') CREATE_DATE,T.STATE,T.PHONE,
			T.EXPIRE_COUNT
         FROM SMS_CODE T
        <include refid="SMS_CODE_WHERE"/>
         <if test="SORTNAME != null and SORTNAME != ''">
            	 ORDER BY  ${SORTNAME}
            	 <if test="SORTORDER != null and SORTORDER != ''">
            	 	 ${SORTORDER}
            	 </if>
         </if>
         
         <if test="PAGESIZE != null and PAGESIZE != ''">
            	limit ${ROWS},${PAGESIZE}
         </if> 
        
         )E,SMS_CODE T
         <if test="PAGESIZE != null and PAGESIZE != ''">
            	,(SELECT(@rowNum :=${ROWS}))TEM_TB
         </if>
         <if test="PAGESIZE == null or PAGESIZE == ''">
            	,(SELECT(@rowNum :=0))TEM_TB
         </if>
        WHERE E.ID=T.ID
    </select>
    
    <!-- 短信验证码通用查询个数 -->
    <select id="selectSMS_CODECount" parameterType="java.util.Map" resultType="java.lang.Integer" >
     	 SELECT COUNT(1) FROM SMS_CODE T <include refid="SMS_CODE_WHERE"/>
    </select>
    
    <!-- 短信验证码保存 -->
    <insert id="insertSMS_CODE" parameterType="java.util.Map" >
    	insert into SMS_CODE 
    	<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="ID != null and ID != ''">
				  ID ,
			</if>
			<if test="CODE != null and CODE != ''">
				  CODE ,
			</if>
			 CREATE_DATE ,
			<if test="STATE != null and STATE != ''">
				  STATE ,
			</if>
			<if test="PHONE != null and PHONE != ''">
				  PHONE ,
			</if>
			<if test="EXPIRE_COUNT != null and EXPIRE_COUNT != ''">
				  EXPIRE_COUNT ,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="ID != null and ID != ''">
				 #{ID},  
			</if>
			<if test="CODE != null and CODE != ''">
				 #{CODE},  
			</if>
				NOW(),
			<if test="STATE != null and STATE != ''">
				 #{STATE},  
			</if>
			<if test="PHONE != null and PHONE != ''">
				 #{PHONE},  
			</if>
			<if test="EXPIRE_COUNT != null and EXPIRE_COUNT != ''">
				 #{EXPIRE_COUNT},  
			</if>
		</trim>
    </insert>
    
    <!-- 短信验证码修改-->
    <update id="updateSMS_CODE" parameterType="java.util.Map" >
    	update   SMS_CODE 
    	<set>
			<if test="ID_NEW != null and ID_NEW != ''">
				  ID=  #{ID_NEW},
			</if>
			<if test="CODE_NEW != null and CODE_NEW != ''">
				  CODE=  #{CODE_NEW},
			</if>
			<if test="CREATE_DATE_NEW != null and CREATE_DATE_NEW != ''">
				  CREATE_DATE=  STR_TO_DATE(#{CREATE_DATE_NEW},'%Y-%m-%d %H:%i:%s')
			</if>
			 
			<if test="STATE_NEW != null and STATE_NEW != ''">
				  STATE=  #{STATE_NEW},
			</if>
			<if test="PHONE_NEW != null and PHONE_NEW != ''">
				  PHONE=  #{PHONE_NEW},
			</if>
			<if test="EXPIRE_COUNT_NEW != null and EXPIRE_COUNT_NEW != ''">
				  EXPIRE_COUNT=  #{EXPIRE_COUNT_NEW},
			</if>
		</set>
		<where>
			<if test="ID != null and ID != ''">
				AND ID = #{ID}
			</if>
			<if test="CODE != null and CODE != ''">
				AND CODE = #{CODE}
			</if>
			<if test="CREATE_DATE != null and CREATE_DATE != ''">
				AND CREATE_DATE = #{CREATE_DATE}
			</if>
			<if test="STATE != null and STATE != ''">
				AND STATE = #{STATE}
			</if>
			<if test="PHONE != null and PHONE != ''">
				AND PHONE = #{PHONE}
			</if>
			<if test="EXPIRE_COUNT != null and EXPIRE_COUNT != ''">
				AND EXPIRE_COUNT = #{EXPIRE_COUNT}
			</if>
		</where>
    </update>
    
    <!-- 短信验证码删除-->
    <delete id="deleteSMS_CODE" parameterType="java.util.Map" >
    	delete  from SMS_CODE  
    	<where>
			<if test="ID != null and ID != ''">
				AND ID = #{ID}
			</if>
			<if test="CODE != null and CODE != ''">
				AND CODE = #{CODE}
			</if>
			<if test="CREATE_DATE != null and CREATE_DATE != ''">
				AND CREATE_DATE = #{CREATE_DATE}
			</if>
			<if test="STATE != null and STATE != ''">
				AND STATE = #{STATE}
			</if>
			<if test="PHONE != null and PHONE != ''">
				AND PHONE = #{PHONE}
			</if>
			<if test="EXPIRE_COUNT != null and EXPIRE_COUNT != ''">
				AND EXPIRE_COUNT = #{EXPIRE_COUNT}
			</if>
		</where>
    </delete>
    
</mapper>