<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dingbo.phone.position.mapper.PhonePositionMapper" >
	<resultMap id="BaseResultMap" type="com.dingbo.phone.position.entity.PhonePositionEntity" >
		<result column="TOTAL" property="total"  />
		<result column="ROWNO" property="rowno"  />
		<result column="ID" property="id" jdbcType="NUMERIC" />
		<result column="USERID" property="userid" jdbcType="NUMERIC" />
		<result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR" />
		<result column="COORDSTYPE" property="coordstype" jdbcType="VARCHAR" />
		<result column="COUNTRY" property="country" jdbcType="VARCHAR" />
		<result column="PROVINCE" property="province" jdbcType="VARCHAR" />
		<result column="CITY" property="city" jdbcType="VARCHAR" />
		<result column="DISTRICT" property="district" jdbcType="VARCHAR" />
		<result column="STREET" property="street" jdbcType="VARCHAR" />
		<result column="STREETNUM" property="streetnum" jdbcType="VARCHAR" />
		<result column="POINAME" property="poiname" jdbcType="VARCHAR" />
		<result column="POSTALCODE" property="postalcode" jdbcType="VARCHAR" />
		<result column="CITYCODE" property="citycode" jdbcType="VARCHAR" />
		<result column="TIMESTAMP" property="timestamp" jdbcType="VARCHAR" />
		<result column="ADDRESSES" property="addresses" jdbcType="VARCHAR" />
		<result column="LATITUDE" property="latitude" jdbcType="VARCHAR" />
		<result column="LONGITUDE" property="longitude" jdbcType="VARCHAR" />
		<result column="ALTITUDE" property="altitude" jdbcType="VARCHAR" />
		<result column="ACCURACY" property="accuracy" jdbcType="VARCHAR" />
		<result column="ALTITUDEACCURACY" property="altitudeaccuracy" jdbcType="VARCHAR" />
		<result column="HEADING" property="heading" jdbcType="VARCHAR" />
		<result column="SPEED" property="speed" jdbcType="VARCHAR" />
	</resultMap>
	<!--位置信息通用查询条件 -->
	<sql id="PHONE_POSITION_WHERE">
		<where>
			<if test="id != null and id != ''">
				AND T.ID = #{id}
			</if>
			<if test="id_LIKE != null and id_LIKE != ''">
				AND T.ID LIKE concat(concat('%',#{id_LIKE}),'%')
			</if>
			<if test="id_LLIKE != null and id_LLIKE != ''">
				AND T.ID LIKE concat('%',#{id_LIKE})
			</if>
			<if test="id_RLIKE != null and id_RLIKE != ''">
				AND T.ID LIKE concat(#{id_RIKE},'%')
			</if>
				
			<if test="userid != null and userid != ''">
				AND T.USERID = #{userid}
			</if>
			<if test="userid_LIKE != null and userid_LIKE != ''">
				AND T.USERID LIKE concat(concat('%',#{userid_LIKE}),'%')
			</if>
			<if test="userid_LLIKE != null and userid_LLIKE != ''">
				AND T.USERID LIKE concat('%',#{userid_LIKE})
			</if>
			<if test="userid_RLIKE != null and userid_RLIKE != ''">
				AND T.USERID LIKE concat(#{userid_RIKE},'%')
			</if>
				
			<if test="createDate != null and createDate != ''">
				AND T.CREATE_DATE = TO_DATE(#{createDate,'YYYY-MM-DD hh24:mi:ss')
			</if>
			<if test="createDate_MIN != null and createDate_MIN != ''">
				AND T.CREATE_DATE &gt;= TO_DATE(#{createDate_MIN},'YYYY-MM-DD hh24:mi:ss')
			</if>
			<if test="createDate_MAX != null and createDate_MAX != ''">
				AND T.CREATE_DATE &lt;= TO_DATE(#{createDate_MAX},'YYYY-MM-DD hh24:mi:ss')
			</if>
				
			<if test="coordstype != null and coordstype != ''">
				AND T.COORDSTYPE = #{coordstype}
			</if>
			<if test="coordstype_LIKE != null and coordstype_LIKE != ''">
				AND T.COORDSTYPE LIKE concat(concat('%',#{coordstype_LIKE}),'%')
			</if>
			<if test="coordstype_LLIKE != null and coordstype_LLIKE != ''">
				AND T.COORDSTYPE LIKE concat('%',#{coordstype_LIKE})
			</if>
			<if test="coordstype_RLIKE != null and coordstype_RLIKE != ''">
				AND T.COORDSTYPE LIKE concat(#{coordstype_RIKE},'%')
			</if>
				
			<if test="country != null and country != ''">
				AND T.COUNTRY = #{country}
			</if>
			<if test="country_LIKE != null and country_LIKE != ''">
				AND T.COUNTRY LIKE concat(concat('%',#{country_LIKE}),'%')
			</if>
			<if test="country_LLIKE != null and country_LLIKE != ''">
				AND T.COUNTRY LIKE concat('%',#{country_LIKE})
			</if>
			<if test="country_RLIKE != null and country_RLIKE != ''">
				AND T.COUNTRY LIKE concat(#{country_RIKE},'%')
			</if>
				
			<if test="province != null and province != ''">
				AND T.PROVINCE = #{province}
			</if>
			<if test="province_LIKE != null and province_LIKE != ''">
				AND T.PROVINCE LIKE concat(concat('%',#{province_LIKE}),'%')
			</if>
			<if test="province_LLIKE != null and province_LLIKE != ''">
				AND T.PROVINCE LIKE concat('%',#{province_LIKE})
			</if>
			<if test="province_RLIKE != null and province_RLIKE != ''">
				AND T.PROVINCE LIKE concat(#{province_RIKE},'%')
			</if>
				
			<if test="city != null and city != ''">
				AND T.CITY = #{city}
			</if>
			<if test="city_LIKE != null and city_LIKE != ''">
				AND T.CITY LIKE concat(concat('%',#{city_LIKE}),'%')
			</if>
			<if test="city_LLIKE != null and city_LLIKE != ''">
				AND T.CITY LIKE concat('%',#{city_LIKE})
			</if>
			<if test="city_RLIKE != null and city_RLIKE != ''">
				AND T.CITY LIKE concat(#{city_RIKE},'%')
			</if>
				
			<if test="district != null and district != ''">
				AND T.DISTRICT = #{district}
			</if>
			<if test="district_LIKE != null and district_LIKE != ''">
				AND T.DISTRICT LIKE concat(concat('%',#{district_LIKE}),'%')
			</if>
			<if test="district_LLIKE != null and district_LLIKE != ''">
				AND T.DISTRICT LIKE concat('%',#{district_LIKE})
			</if>
			<if test="district_RLIKE != null and district_RLIKE != ''">
				AND T.DISTRICT LIKE concat(#{district_RIKE},'%')
			</if>
				
			<if test="street != null and street != ''">
				AND T.STREET = #{street}
			</if>
			<if test="street_LIKE != null and street_LIKE != ''">
				AND T.STREET LIKE concat(concat('%',#{street_LIKE}),'%')
			</if>
			<if test="street_LLIKE != null and street_LLIKE != ''">
				AND T.STREET LIKE concat('%',#{street_LIKE})
			</if>
			<if test="street_RLIKE != null and street_RLIKE != ''">
				AND T.STREET LIKE concat(#{street_RIKE},'%')
			</if>
				
			<if test="streetnum != null and streetnum != ''">
				AND T.STREETNUM = #{streetnum}
			</if>
			<if test="streetnum_LIKE != null and streetnum_LIKE != ''">
				AND T.STREETNUM LIKE concat(concat('%',#{streetnum_LIKE}),'%')
			</if>
			<if test="streetnum_LLIKE != null and streetnum_LLIKE != ''">
				AND T.STREETNUM LIKE concat('%',#{streetnum_LIKE})
			</if>
			<if test="streetnum_RLIKE != null and streetnum_RLIKE != ''">
				AND T.STREETNUM LIKE concat(#{streetnum_RIKE},'%')
			</if>
				
			<if test="poiname != null and poiname != ''">
				AND T.POINAME = #{poiname}
			</if>
			<if test="poiname_LIKE != null and poiname_LIKE != ''">
				AND T.POINAME LIKE concat(concat('%',#{poiname_LIKE}),'%')
			</if>
			<if test="poiname_LLIKE != null and poiname_LLIKE != ''">
				AND T.POINAME LIKE concat('%',#{poiname_LIKE})
			</if>
			<if test="poiname_RLIKE != null and poiname_RLIKE != ''">
				AND T.POINAME LIKE concat(#{poiname_RIKE},'%')
			</if>
				
			<if test="postalcode != null and postalcode != ''">
				AND T.POSTALCODE = #{postalcode}
			</if>
			<if test="postalcode_LIKE != null and postalcode_LIKE != ''">
				AND T.POSTALCODE LIKE concat(concat('%',#{postalcode_LIKE}),'%')
			</if>
			<if test="postalcode_LLIKE != null and postalcode_LLIKE != ''">
				AND T.POSTALCODE LIKE concat('%',#{postalcode_LIKE})
			</if>
			<if test="postalcode_RLIKE != null and postalcode_RLIKE != ''">
				AND T.POSTALCODE LIKE concat(#{postalcode_RIKE},'%')
			</if>
				
			<if test="citycode != null and citycode != ''">
				AND T.CITYCODE = #{citycode}
			</if>
			<if test="citycode_LIKE != null and citycode_LIKE != ''">
				AND T.CITYCODE LIKE concat(concat('%',#{citycode_LIKE}),'%')
			</if>
			<if test="citycode_LLIKE != null and citycode_LLIKE != ''">
				AND T.CITYCODE LIKE concat('%',#{citycode_LIKE})
			</if>
			<if test="citycode_RLIKE != null and citycode_RLIKE != ''">
				AND T.CITYCODE LIKE concat(#{citycode_RIKE},'%')
			</if>
				
			<if test="timestamp != null and timestamp != ''">
				AND T.TIMESTAMP = #{timestamp}
			</if>
			<if test="timestamp_LIKE != null and timestamp_LIKE != ''">
				AND T.TIMESTAMP LIKE concat(concat('%',#{timestamp_LIKE}),'%')
			</if>
			<if test="timestamp_LLIKE != null and timestamp_LLIKE != ''">
				AND T.TIMESTAMP LIKE concat('%',#{timestamp_LIKE})
			</if>
			<if test="timestamp_RLIKE != null and timestamp_RLIKE != ''">
				AND T.TIMESTAMP LIKE concat(#{timestamp_RIKE},'%')
			</if>
				
			<if test="addresses != null and addresses != ''">
				AND T.ADDRESSES = #{addresses}
			</if>
			<if test="addresses_LIKE != null and addresses_LIKE != ''">
				AND T.ADDRESSES LIKE concat(concat('%',#{addresses_LIKE}),'%')
			</if>
			<if test="addresses_LLIKE != null and addresses_LLIKE != ''">
				AND T.ADDRESSES LIKE concat('%',#{addresses_LIKE})
			</if>
			<if test="addresses_RLIKE != null and addresses_RLIKE != ''">
				AND T.ADDRESSES LIKE concat(#{addresses_RIKE},'%')
			</if>
				
			<if test="latitude != null and latitude != ''">
				AND T.LATITUDE = #{latitude}
			</if>
			<if test="latitude_LIKE != null and latitude_LIKE != ''">
				AND T.LATITUDE LIKE concat(concat('%',#{latitude_LIKE}),'%')
			</if>
			<if test="latitude_LLIKE != null and latitude_LLIKE != ''">
				AND T.LATITUDE LIKE concat('%',#{latitude_LIKE})
			</if>
			<if test="latitude_RLIKE != null and latitude_RLIKE != ''">
				AND T.LATITUDE LIKE concat(#{latitude_RIKE},'%')
			</if>
				
			<if test="longitude != null and longitude != ''">
				AND T.LONGITUDE = #{longitude}
			</if>
			<if test="longitude_LIKE != null and longitude_LIKE != ''">
				AND T.LONGITUDE LIKE concat(concat('%',#{longitude_LIKE}),'%')
			</if>
			<if test="longitude_LLIKE != null and longitude_LLIKE != ''">
				AND T.LONGITUDE LIKE concat('%',#{longitude_LIKE})
			</if>
			<if test="longitude_RLIKE != null and longitude_RLIKE != ''">
				AND T.LONGITUDE LIKE concat(#{longitude_RIKE},'%')
			</if>
				
			<if test="altitude != null and altitude != ''">
				AND T.ALTITUDE = #{altitude}
			</if>
			<if test="altitude_LIKE != null and altitude_LIKE != ''">
				AND T.ALTITUDE LIKE concat(concat('%',#{altitude_LIKE}),'%')
			</if>
			<if test="altitude_LLIKE != null and altitude_LLIKE != ''">
				AND T.ALTITUDE LIKE concat('%',#{altitude_LIKE})
			</if>
			<if test="altitude_RLIKE != null and altitude_RLIKE != ''">
				AND T.ALTITUDE LIKE concat(#{altitude_RIKE},'%')
			</if>
				
			<if test="accuracy != null and accuracy != ''">
				AND T.ACCURACY = #{accuracy}
			</if>
			<if test="accuracy_LIKE != null and accuracy_LIKE != ''">
				AND T.ACCURACY LIKE concat(concat('%',#{accuracy_LIKE}),'%')
			</if>
			<if test="accuracy_LLIKE != null and accuracy_LLIKE != ''">
				AND T.ACCURACY LIKE concat('%',#{accuracy_LIKE})
			</if>
			<if test="accuracy_RLIKE != null and accuracy_RLIKE != ''">
				AND T.ACCURACY LIKE concat(#{accuracy_RIKE},'%')
			</if>
				
			<if test="altitudeaccuracy != null and altitudeaccuracy != ''">
				AND T.ALTITUDEACCURACY = #{altitudeaccuracy}
			</if>
			<if test="altitudeaccuracy_LIKE != null and altitudeaccuracy_LIKE != ''">
				AND T.ALTITUDEACCURACY LIKE concat(concat('%',#{altitudeaccuracy_LIKE}),'%')
			</if>
			<if test="altitudeaccuracy_LLIKE != null and altitudeaccuracy_LLIKE != ''">
				AND T.ALTITUDEACCURACY LIKE concat('%',#{altitudeaccuracy_LIKE})
			</if>
			<if test="altitudeaccuracy_RLIKE != null and altitudeaccuracy_RLIKE != ''">
				AND T.ALTITUDEACCURACY LIKE concat(#{altitudeaccuracy_RIKE},'%')
			</if>
				
			<if test="heading != null and heading != ''">
				AND T.HEADING = #{heading}
			</if>
			<if test="heading_LIKE != null and heading_LIKE != ''">
				AND T.HEADING LIKE concat(concat('%',#{heading_LIKE}),'%')
			</if>
			<if test="heading_LLIKE != null and heading_LLIKE != ''">
				AND T.HEADING LIKE concat('%',#{heading_LIKE})
			</if>
			<if test="heading_RLIKE != null and heading_RLIKE != ''">
				AND T.HEADING LIKE concat(#{heading_RIKE},'%')
			</if>
				
			<if test="speed != null and speed != ''">
				AND T.SPEED = #{speed}
			</if>
			<if test="speed_LIKE != null and speed_LIKE != ''">
				AND T.SPEED LIKE concat(concat('%',#{speed_LIKE}),'%')
			</if>
			<if test="speed_LLIKE != null and speed_LLIKE != ''">
				AND T.SPEED LIKE concat('%',#{speed_LIKE})
			</if>
			<if test="speed_RLIKE != null and speed_RLIKE != ''">
				AND T.SPEED LIKE concat(#{speed_RIKE},'%')
			</if>
				
		</where>
	</sql>
	<!-- 位置信息通用查询 -->
    <select id="selectPhonePosition" parameterType="com.dingbo.phone.position.entity.PhonePositionEntity" resultMap="BaseResultMap" >
     	<if test="curPage != null and curPage != ''">
            <if test="pageSize != null and pageSize != ''">
                SELECT F.* FROM (
            </if>
        </if>
         SELECT E.*,ROWNUM ROWNO FROM (
            SELECT T.ID,T.USERID,
            TO_CHAR(T.CREATE_DATE,'YYYY-MM-DD hh24:mi:ss') CREATE_DATE,T.COORDSTYPE,T.COUNTRY,
			T.PROVINCE,T.CITY,T.DISTRICT,T.STREET,T.STREETNUM,
			T.POINAME,T.POSTALCODE,T.CITYCODE,T.TIMESTAMP,T.ADDRESSES,
			T.LATITUDE,T.LONGITUDE,T.ALTITUDE,T.ACCURACY,T.ALTITUDEACCURACY,
			T.HEADING,T.SPEED
             ,FIRST_VALUE(ROWNUM) OVER(ORDER BY ROWNUM DESC) AS TOTAL
             FROM PHONE_POSITION T
            <include refid="PHONE_POSITION_WHERE"/>
            <if test="sortName != null and sortName != ''">
            	 ORDER BY  ${sortName}
            	 <if test="sortOrder != null and sortOrder != ''">
            	 	 ${sortOrder}
            	 </if>
            </if>
            )E
      <if test="curPage != null and curPage != ''">
            <if test="pageSize != null and pageSize != ''">
                <![CDATA[ WHERE ROWNUM <=#{curPage} * #{pageSize} ) F WHERE F.ROWNO >=(#{curPage} - 1) * #{pageSize} + 1]]>
            </if>
        </if>
    </select>
    
    <!-- 位置信息通用查询个数 -->
    <select id="selectPhonePositionCount" parameterType="com.dingbo.phone.position.entity.PhonePositionEntity" resultType="java.lang.Integer" >
     	 SELECT COUNT(1) FROM PHONE_POSITION T <include refid="PHONE_POSITION_WHERE"/>
    </select>
    
    <!-- 位置信息保存 -->
    <insert id="insertPhonePosition" parameterType="com.dingbo.phone.position.entity.PhonePositionEntity" >
    	insert into PHONE_POSITION 
    	<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null and id != ''">
				  ID ,
			</if>
			<if test="userid != null and userid != ''">
				  USERID ,
			</if>
			 CREATE_DATE ,
			<if test="coordstype != null and coordstype != ''">
				  COORDSTYPE ,
			</if>
			<if test="country != null and country != ''">
				  COUNTRY ,
			</if>
			<if test="province != null and province != ''">
				  PROVINCE ,
			</if>
			<if test="city != null and city != ''">
				  CITY ,
			</if>
			<if test="district != null and district != ''">
				  DISTRICT ,
			</if>
			<if test="street != null and street != ''">
				  STREET ,
			</if>
			<if test="streetnum != null and streetnum != ''">
				  STREETNUM ,
			</if>
			<if test="poiname != null and poiname != ''">
				  POINAME ,
			</if>
			<if test="postalcode != null and postalcode != ''">
				  POSTALCODE ,
			</if>
			<if test="citycode != null and citycode != ''">
				  CITYCODE ,
			</if>
			<if test="timestamp != null and timestamp != ''">
				  TIMESTAMP ,
			</if>
			<if test="addresses != null and addresses != ''">
				  ADDRESSES ,
			</if>
			<if test="latitude != null and latitude != ''">
				  LATITUDE ,
			</if>
			<if test="longitude != null and longitude != ''">
				  LONGITUDE ,
			</if>
			<if test="altitude != null and altitude != ''">
				  ALTITUDE ,
			</if>
			<if test="accuracy != null and accuracy != ''">
				  ACCURACY ,
			</if>
			<if test="altitudeaccuracy != null and altitudeaccuracy != ''">
				  ALTITUDEACCURACY ,
			</if>
			<if test="heading != null and heading != ''">
				  HEADING ,
			</if>
			<if test="speed != null and speed != ''">
				  SPEED ,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null and id != ''">
				 #{id},  
			</if>
			<if test="userid != null and userid != ''">
				 #{userid},  
			</if>
				SYSDATE,
			<if test="coordstype != null and coordstype != ''">
				 #{coordstype},  
			</if>
			<if test="country != null and country != ''">
				 #{country},  
			</if>
			<if test="province != null and province != ''">
				 #{province},  
			</if>
			<if test="city != null and city != ''">
				 #{city},  
			</if>
			<if test="district != null and district != ''">
				 #{district},  
			</if>
			<if test="street != null and street != ''">
				 #{street},  
			</if>
			<if test="streetnum != null and streetnum != ''">
				 #{streetnum},  
			</if>
			<if test="poiname != null and poiname != ''">
				 #{poiname},  
			</if>
			<if test="postalcode != null and postalcode != ''">
				 #{postalcode},  
			</if>
			<if test="citycode != null and citycode != ''">
				 #{citycode},  
			</if>
			<if test="timestamp != null and timestamp != ''">
				 #{timestamp},  
			</if>
			<if test="addresses != null and addresses != ''">
				 #{addresses},  
			</if>
			<if test="latitude != null and latitude != ''">
				 #{latitude},  
			</if>
			<if test="longitude != null and longitude != ''">
				 #{longitude},  
			</if>
			<if test="altitude != null and altitude != ''">
				 #{altitude},  
			</if>
			<if test="accuracy != null and accuracy != ''">
				 #{accuracy},  
			</if>
			<if test="altitudeaccuracy != null and altitudeaccuracy != ''">
				 #{altitudeaccuracy},  
			</if>
			<if test="heading != null and heading != ''">
				 #{heading},  
			</if>
			<if test="speed != null and speed != ''">
				 #{speed},  
			</if>
		</trim>
    </insert>
    
    <!-- 位置信息修改-->
    <update id="updatePhonePosition" parameterType="com.dingbo.phone.position.entity.PhonePositionEntity" >
    	update   PHONE_POSITION 
    	<set>
			<if test="id != null and id != ''">
				  ID=  #{id},
			</if>
			<if test="userid != null and userid != ''">
				  USERID=  #{userid},
			</if>
			<if test="createDate != null and createDate != ''">
				  CREATE_DATE=  TO_DATE(#{createDate},'YYYY-MM-DD hh24:mi:ss'),
			</if>
			 
			<if test="coordstype != null and coordstype != ''">
				  COORDSTYPE=  #{coordstype},
			</if>
			<if test="country != null and country != ''">
				  COUNTRY=  #{country},
			</if>
			<if test="province != null and province != ''">
				  PROVINCE=  #{province},
			</if>
			<if test="city != null and city != ''">
				  CITY=  #{city},
			</if>
			<if test="district != null and district != ''">
				  DISTRICT=  #{district},
			</if>
			<if test="street != null and street != ''">
				  STREET=  #{street},
			</if>
			<if test="streetnum != null and streetnum != ''">
				  STREETNUM=  #{streetnum},
			</if>
			<if test="poiname != null and poiname != ''">
				  POINAME=  #{poiname},
			</if>
			<if test="postalcode != null and postalcode != ''">
				  POSTALCODE=  #{postalcode},
			</if>
			<if test="citycode != null and citycode != ''">
				  CITYCODE=  #{citycode},
			</if>
			<if test="timestamp != null and timestamp != ''">
				  TIMESTAMP=  #{timestamp},
			</if>
			<if test="addresses != null and addresses != ''">
				  ADDRESSES=  #{addresses},
			</if>
			<if test="latitude != null and latitude != ''">
				  LATITUDE=  #{latitude},
			</if>
			<if test="longitude != null and longitude != ''">
				  LONGITUDE=  #{longitude},
			</if>
			<if test="altitude != null and altitude != ''">
				  ALTITUDE=  #{altitude},
			</if>
			<if test="accuracy != null and accuracy != ''">
				  ACCURACY=  #{accuracy},
			</if>
			<if test="altitudeaccuracy != null and altitudeaccuracy != ''">
				  ALTITUDEACCURACY=  #{altitudeaccuracy},
			</if>
			<if test="heading != null and heading != ''">
				  HEADING=  #{heading},
			</if>
			<if test="speed != null and speed != ''">
				  SPEED=  #{speed},
			</if>
		</set>
		 where ID=#{id}
    </update>
    
    <!-- 位置信息删除-->
    <delete id="deletePhonePosition" parameterType="com.dingbo.phone.position.entity.PhonePositionEntity" >
    	delete  from PHONE_POSITION   where ID=#{id}
    </delete>
    
</mapper>