<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youyoubo.wx.access.mapper.WxMessageListMapper" >
	<resultMap id="BaseResultMap" type="com.youyoubo.wx.access.entity.WxMessageListEntity" >
		<result column="TOTAL" property="total"  />
		<result column="ROWNO" property="rowno"  />
 		<result column="ID" property="id" jdbcType="NUMERIC" />
		<result column="FROMUSERNAME" property="FROMUSERNAME" jdbcType="VARCHAR" />
		<result column="TOUSERNAME" property="TOUSERNAME" jdbcType="VARCHAR" />
		<result column="EVENT" property="EVENT" jdbcType="VARCHAR" />
		<result column="EVENTKEY" property="EVENTKEY" jdbcType="VARCHAR" />
		<result column="MSGTYPE" property="MSGTYPE" jdbcType="VARCHAR" />
		<result column="CREATETIME" property="CREATETIME" jdbcType="VARCHAR" />
	 
		
	</resultMap>
	<!--海关发票导入通用查询条件 -->
	<sql id="HGXT_FP_IMPORT_WHERE">
		<where>
		 
		</where>
	</sql>
	 
    
    <!-- 微信消息记录 -->
    <insert id="insertWxMessageList" parameterType="com.youyoubo.wx.access.entity.WxMessageListEntity" >
    	insert into WX_MESSAGE_LIST 
    	<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="ID != null and ID != ''">
				  ID ,
			</if>
			<if test="FROMUSERNAME != null and FROMUSERNAME != ''">
				  FROMUSERNAME ,
			</if>
			<if test="TOUSERNAME != null and TOUSERNAME != ''">
				  TOUSERNAME ,
			</if>
			<if test="EVENT != null and EVENT != ''">
				  EVENT ,
			</if>
			<if test="EVENTKEY != null and EVENTKEY != ''">
				  EVENTKEY ,
			</if>
			<if test="MSGTYPE != null and MSGTYPE != ''">
				  MSGTYPE ,
			</if>
			<if test="CREATETIME != null and CREATETIME != ''">
				  CREATETIME ,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
		 <if test="ID != null and ID != ''">
				  #{ID} ,
			</if>
			<if test="FROMUSERNAME != null and FROMUSERNAME != ''">
				  #{FROMUSERNAME} ,
			</if>
			<if test="TOUSERNAME != null and TOUSERNAME != ''">
				  #{TOUSERNAME} ,
			</if>
			<if test="EVENT != null and EVENT != ''">
				  #{EVENT} ,
			</if>
			<if test="EVENTKEY != null and EVENTKEY != ''">
				  #{EVENTKEY} ,
			</if>
			<if test="MSGTYPE != null and MSGTYPE != ''">
				  #{MSGTYPE} ,
			</if>
			<if test="CREATETIME != null and CREATETIME != ''">
				 STR_TO_DATE(#{CREATETIME},'%Y-%m-%d %H:%i:%s'),
			</if>
		</trim>
    </insert>
     
    
</mapper>